body {
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #f0f4ff, #5cadf9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  width: 320px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0b76ef;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid  #007bff;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background: #9ec8f5;
  border: none;
  border-radius: 8px;
  color: rgb(241, 232, 232);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #6b83d4;
}

.register-link {
  text-align: center;
  margin-top: 12px;
  font-size: 14px;
  text-decoration-color: aliceblue;
}

.register-link a {
  color: #0b76ef;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
